@import 'responsive'

.info
	&__wrap
		.slick-track
			display: flex !important

		&.slick-initialized .slick-slide 
			height: auto
			display: flex
			justify-content: center
			align-items: center

		.container
			transform: translate(0, 50px)
			opacity: 0

		.slick-active .container
			animation: view 0.3s linear forwards
			animation-delay: 0.6s

	&__item
		height: 100%

	&__bg
		position: relative
		background-repeat: no-repeat
		background-size: cover
		background-position: top center
		width: 100%
		height: 100%
		padding-top: 165px
		padding-bottom: 170px

	&__subtitle
		font-size: 90px
		line-height: 1
		color: #fff
		text-align: center
		margin-bottom: 20px
		font-weight: 800
		+media(mdx)
			font-size: 55px
		+media(sm)
			font-size: 33px
		span
			display: block
			font-size: 36px
			letter-spacing: 6px
			text-transform: uppercase
			padding-bottom: 12px
			font-weight: 300
			+media(sm)
				font-size: 30px

	&__desc
		text-align: center
		p
			font-size: 18px
			line-height: 2
			letter-spacing: 1.8px
			color: #fff
			padding-bottom: 1.8em
			font-weight: 300
			+media(sm)
				font-size: 15px

	&__dots-list
		position: absolute
		bottom: 90px
		left: 50%
		transform: translateX(-50%)
		display: flex
		justify-content: center
		align-items: center
		li
			cursor: pointer
			width: 8px
			height: 8px
			border-radius: 50%
			background-color: #fff
			display: flex
			align-items: center
			justify-content: center
			&:not(:last-child)
				margin-right: 15px

			button
				cursor: pointer
				font-size: 0px
				width: 100%
				height: 100%	
				border: none
				outline: none
				padding: 0px
				border-radius: 50%
				background-color: transparent

			&.slick-active
				width: 13px
				height: 13px
				background-color: #68bec1


@keyframes view
	100%
		transform: translate(0, 0)
		opacity: 1

